.git
.idea
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/var/
/vendor/
/public/

assets/

modules/

/.htaccess
/config.php
/config-dev.php
/finished.php
/init.php
/ready.php

templates/errors
templates/cache
templates/scripts
templates/styles
templates/_init.php
templates/_main.php
templates/_admin.php
templates/basic-page.php
templates/home.php
templates/admin.php

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
