{% extends "layout.html.twig" %}

{% block page_contents %}
    <p class="important">Welcome to your awesome Symprowire homepage.</p>
    <hr />
    <p>I have knowledge about the following Vars:</p>
    <ul>
        {% for var in vars %}
            <li>{{ var }}</li>
        {% endfor %}
    </ul>
{% endblock %}
